.container {
    display: flex;
    margin: 2%;
    justify-content: space-evenly;
}

.flexItem {
    width: 45%;
    padding: 2%;

}

.divider {
    width: 2px;
    height: 100vh;
    background-color: grey;
    align-self: center;
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
    }

    .divider {
        display: none;
    }

    .flexItem {
        margin-top: 1rem;
        width: 100%;
    }
}